<section data-ng-controller="WavesController" data-ng-init="find()">
    <div class="page-header">
        <h1>Waves</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="wafe in waves" data-ng-href="#!/waves/{{wafe._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="wafe.created | date:'medium'"></span>
				by
				<span data-ng-bind="wafe.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="wafe.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!waves.$resolved || waves.length">
    	No Waves yet, why don't you <a href="/#!/waves/create">create one</a>?
    </div>
</section>